h1 {
  background: url("http://i.imgur.com/4PC1oo9.jpg");
  text-align: center;
  background-size: cover;
  font-size: 250%;
  color: white;
  }
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

li, a{
  display: block;
  list-style: none;
  padding: 16px;
  text-align: center;
  color: white;
  text-decoration: none;
  min-width: 108px;
}

li {
  float: left;
}

li a:hover {
  background-color: #111111;
}
body{
  background-color: #F2EBA9;
}

h1, h2, h3{
  font-family: Georgia, Serif;
  font-weight: bold;
  text-align: center;
}

span{
  line-height: 500%;
  font-style: italic;
  font-weight: bold;
  font-size: 130%;
  font-family: Palatino Linotype;
}

footer{
  font-style: italic;
  line-height: 300%;
}
