/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}*/

/*li a {

  display: inline;
  width: 60px;
  text-align: center;
  font-weight: bold;
  color: #586FA5;
}
*/

ul{
  list-style: none;
  padding: 20;
  display: inline;
}
body{
  background-color: #F2EBA9;
  text-align: center;
}

h1{
  font-family: Arial;
  text-align: center;
}
